<article>
  <header class="u-flow">
    <h1>404</h1>
    <p>
      <b>"Oops!</b> The page you're looking for in this Design System doesn't exist. 
    </p>
    <p>
      Please check the URL or return to the <a href="/">welcome&nbsp;page</a> to continue exploring the system.
    </p>
  </header>
</article>
