<article class="u-flow">
  <header class="u-flow">
    <h1>Utilities</h1>
    <p class="[ c-box ][ u-mbs-l u-color-bold u-border-highlight ]">
      Utilities in this system are CSS classes for specific tasks, managing single or related properties and extending design tokens for consistency.
    </p>
    <h2>Usage</h2>
    <p>
      These classes follow the <a href="https://cube.fyi/utility.html" target="_blank" rel="noopener noreferrer" aria-label="Learn more about CUBE CSS utility principles">CUBE CSS utility principles</a>.
    </p>
    <p>
      Utility classes in this system are designed to perform specific tasks by applying predefined CSS properties to elements. They enable efficient control over the layout and behavior of elements across the application, acting like a toolkit that manipulates various aspects such as layout and other design elements.
    </p>
    <p>
      This approach promotes consistency, reusability, and maintainability in the codebase.
    </p>
  </header>

  <h3>Center</h3>
  <p>The <b>.u-center</b> class applies center alignment and automatic margins to an element, positioning it centrally within its container.</p>
  <pre class="[ c-box ][ u-horizontal-scroll ]"><code class="u-font-family-base">&lt;div class="<span class="u-color-bold">u-center</span>"&gt;
    &lt;p&gt;This text will be centered within its container.&lt;/p&gt;
&lt;/div&gt;</code></pre>
  <p>The class file is located here:</p>
  <a href="https://github.com/nicholasgillespie/ng-design-system/blob/main/frontend/public/scss/styles/utilities/_u-center.scss" aria-label="Link to Center class file on GitHub" rel="noopener noreferrer">public/scss/styles/utilities/_center.scss</a>
  
  <h3>Flow</h3>
  <p>The <b>.u-flow</b> class sets a default 1em vertical margin between child elements, which can be adjusted using CSS properties and data attributes.</p>
  <pre class="[ c-box ][ u-horizontal-scroll ]"><code class="u-font-family-base">&lt;div class="<span class="u-color-bold">u-flow</span>"&gt;
    &lt;p&gt;This is the first paragraph.&lt;/p&gt;
    &lt;p&gt;This is the second paragraph, it will have a consistent vertical margin with the first one.&lt;/p&gt;
    &lt;p style="<span class="u-color-bold">--flow-space: 2em</span>"&gt;This is the third paragraph, it will have a larger vertical margin.&lt;/p&gt;
&lt;/div&gt;</code></pre>
  <p>The class file is located here:</p>
  <a href="https://github.com/nicholasgillespie/ng-design-system/blob/main/frontend/public/scss/styles/utilities/_u-flow.scss" aria-label="Link to Flow class file on GitHub" rel="noopener noreferrer">public/scss/styles/utilities/_flow.scss</a>

  <h3>Region</h3>
  <p>The <b>.u-region</b> class adds consistent vertical padding to create regions of content. It also allows   for customization of the padding through CSS properties and data attributes.</p>
  <pre class="[ c-box ][ u-horizontal-scroll ]"><code class="u-font-family-base">&lt;div class="<span class="u-color-bold">u-region</span>" style="<span class="u-color-bold">--region-block-start: 5rem</span>"&gt;
    &lt;section&gt;
        &lt;h1&gt;Title&lt;/h1&gt;
        &lt;p&gt;This is some content within a region.&lt;/p&gt;
    &lt;/section&gt;
&lt;/div&gt;</code></pre>
  <p>The class file is located here:</p>
  <a href="https://github.com/nicholasgillespie/ng-design-system/blob/main/frontend/public/scss/styles/utilities/_u-region.scss" aria-label="Link to Region class file on GitHub" rel="noopener noreferrer">public/scss/styles/utilities/_region.scss</a>

  <h3>Theme Break</h3>
  <p>The <b>.u-theme-break</b> class adds a border at the block's start, creating a visual theme break with   customizable margin and padding.</p>
  <pre class="[ c-box ][ u-horizontal-scroll ]"><code class="u-font-family-base">&lt;div class="<span class="u-color-bold">u-theme-break</span>" style="<span class="u-color-bold">--theme-break-pbs: var(--size-5)</span>"&gt;
    &lt;h1&gt;Title&lt;/h1&gt;
    &lt;p&gt;This is some content within a theme break.&lt;/p&gt;
    &lt;p&gt;The theme break adds a border at the start of the block.&lt;/p&gt;
&lt;/div&gt;</code></pre>
  <p>The class file is located here:</p>
  <a href="https://github.com/nicholasgillespie/ng-design-system/blob/main/frontend/public/scss/styles/utilities/_u-theme-break.scss" aria-label="Link to Theme Break class file on GitHub" rel="noopener noreferrer">public/scss/styles/utilities/_theme-break.scss</a>

  <h3>Wrapper</h3>
  <p>The <b>.u-wrapper</b> class sets a maximum width, adds a consistent gutter, and centers the contents of  an element. It also allows for customization of the maximum width through data attributes.</p>
  <pre class="[ c-box ][ u-horizontal-scroll ]"><code class="u-font-family-base">&lt;div class="<span class="u-color-bold">u-wrapper</span>"&gt;
    &lt;h1&gt;Title&lt;/h1&gt;
    &lt;p&gt;This is some content within a wrapper.&lt;/p&gt;
    &lt;p&gt;The wrapper sets a maximum width, adds a consistent gutter, and centers the contents.&lt;/p&gt;
&lt;/div&gt;</code></pre>
  <p>The class file is located here:</p>
  <a href="https://github.com/nicholasgillespie/ng-design-system/blob/main/frontend/public/scss/styles/utilities/_u-wrapper.scss" aria-label="Link to Wrapper class file on GitHub" rel="noopener noreferrer">public/scss/styles/utilities/_wrapper.scss</a>
</article>