@charset "UTF-8";
:root {
  --size--2: clamp(0.625rem, 0.826rem - 0.2233vw, 0.7813rem);
  --size--1: clamp(0.8838rem, 0.9528rem - 0.0767vw, 0.9375rem);
  --size-base: clamp(1.125rem, 1.0893rem + 0.1786vw, 1.25rem);
  --size-1: clamp(1.35rem, 1.2307rem + 0.5964vw, 1.7675rem);
  --size-2: clamp(1.62rem, 1.3687rem + 1.2563vw, 2.4994rem);
  --size-3: clamp(1.9438rem, 1.4895rem + 2.2714vw, 3.5338rem);
  --size-4: clamp(2.3325rem, 1.5712rem + 3.8063vw, 4.9969rem);
  --size-5: clamp(2.7994rem, 1.5805rem + 6.0946vw, 7.0656rem);
  --space-3xs: clamp(0.2813rem, 0.2724rem + 0.0446vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5446rem + 0.0893vw, 0.625rem);
  --space-xs: clamp(0.8438rem, 0.817rem + 0.1339vw, 0.9375rem);
  --space-s: var(--size-base);
  --space-m: clamp(1.6875rem, 1.6339rem + 0.2679vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.1786rem + 0.3571vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2679rem + 0.5357vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3571rem + 0.7143vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.5357rem + 1.0714vw, 7.5rem);
  --space-s-m: clamp(1.125rem, 0.9107rem + 1.0714vw, 1.875rem);
  --space-m-l: clamp(1.125rem, 0.7321rem + 1.9643vw, 2.5rem);
  --space-s-l: clamp(1.125rem, 0.7321rem + 1.9643vw, 2.5rem);
  --gutter: var(--space-s-m);
  --measure: 75ch;
  --font-family-base: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --font-family-brand: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --font-family-code: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  --color-core-primary: #7553c6;
  --color-shade-dark: hsl(0, 0%, 0%);
  --color-shade-dim: hsl(0, 0%, 14%);
  --color-shade-charcoal: hsl(0, 0%, 29%);
  --color-shade-gray: hsl(0, 0%, 43%);
  --color-shade-gray-bright: hsl(0, 0%, 57%);
  --color-shade-gray-glare: hsl(0, 0%, 71%);
  --color-shade-light: hsl(0, 0%, 86%);
  --color-shade-light-bright: hsl(0, 0%, 100%);
  --theme-bg-base: var(--color-shade-light-bright);
  --theme-bg-highlight: var(--color-shade-dark);
  --theme-color-base: var(--color-shade-dim);
  --theme-color-bold: var(--color-shade-dark);
  --theme-color-highlight: var(--color-shade-dark);
  --theme-border-base: var(--color-shade-dark);
  --theme-border-bold: var(--color-shade-dim);
  --theme-border-highlight: var(--color-shade-dark);
}
@media (prefers-color-scheme: dark) {
  :root {
    --theme-bg-base: var(--color-shade-dark);
    --theme-bg-highlight: var(--color-shade-light-bright);
    --theme-color-base: var(--color-shade-gray-bright);
    --theme-color-bold: var(--color-shade-light-bright);
    --theme-color-highlight: var(--color-core-primary);
    --theme-border-base: var(--color-shade-charcoal);
    --theme-border-bold: var(--color-shade-gray-bright);
    --theme-border-highlight: var(--color-core-primary);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  text-rendering: optimizeSpeed;
  background-color: var(--theme-bg-base);
  color: var(--theme-color-base);
  font-size: var(--size-base);
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.5;
  word-break: break-word;
}

body > .c-sidebar {
  --sidebar-gap: 4px;
  --sidebar-target-width: 18rem;
  --sidebar-content-min-width: 70%;
  min-block-size: 100vh;
}

main .c-stack {
  --stack-align-items: stretch;
}

footer {
  --stack-space: 0;
  --cluster-justify-content: space-between;
  padding: 0 var(--gutter) var(--gutter) var(--gutter);
}
@media (max-width: 444px) {
  footer .c-cluster {
    --cluster-justify-content: center;
  }
  footer .c-cluster > :nth-child(2) {
    order: 1;
  }
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-family-base);
  font-weight: 700;
  color: var(--theme-color-bold);
  line-height: 1;
  hyphens: auto;
}

h1 {
  font-size: var(--size-5);
  max-inline-size: 30ch;
  letter-spacing: -0.05ch;
}

h2 {
  font-size: var(--size-4);
}

h3 {
  font-size: var(--size-3);
}

h4 {
  font-size: var(--size-2);
}

p {
  max-inline-size: var(--measure, 75ch);
}

b {
  color: var(--theme-color-highlight);
}

pre {
  line-height: 1.25;
}

code {
  white-space: pre;
}

table {
  inline-size: 100%;
  border-collapse: collapse;
  border: none;
}

thead {
  color: var(--theme-color-bold);
  font-weight: 400;
}

tbody::before {
  content: "";
  --box-padding: var(--gutter);
  display: block;
  block-size: calc(var(--box-padding) / 2);
}
tbody tr:first-child td {
  padding-block-start: 0;
}
tbody tr:last-child td {
  padding-block-end: 0;
}

td {
  padding-block: 0.2ch;
}

th,
td {
  text-align: start;
  padding-inline-end: var(--space-s);
}

.u-link,
a {
  color: var(--theme-color-bold);
  text-decoration: underline;
  text-decoration-color: var(--theme-border-highlight);
  font-weight: 700;
}
.u-link:hover, .u-link:focus,
a:hover,
a:focus {
  color: var(--theme-border-highlight);
  text-decoration: none;
  cursor: pointer;
}
.u-link[aria-current=page],
a[aria-current=page] {
  color: var(--theme-color-highlight);
  text-decoration: none;
  cursor: default;
}

.b-button,
button {
  padding-block: var(--space-xs);
  padding-inline: var(--space-s);
  display: inline-block;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  line-height: 1;
  border-style: solid;
  border-width: 2px;
  font-size: inherit;
  background-color: transparent;
  color: var(--theme-color-bold);
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: var(--theme-border-highlight);
  text-align: start;
}
.b-button:hover, .b-button:focus,
button:hover,
button:focus {
  color: var(--theme-border-highlight);
  text-decoration: none;
}
.b-button.u-link,
button.u-link {
  padding: 0 0 0.2ch;
  outline-offset: 0.65ch;
  border: none;
  min-inline-size: unset;
}

::selection {
  color: var(--theme-color-bold);
  background: var(--color-core-primary);
}

.skip-link-container {
  position: absolute;
  inset-block-start: 0.5em;
  z-index: 999;
}
.skip-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  min-block-size: 100%;
  font-family: var(--font-family-code);
  font-size: var(--size--1);
}
.skip-link:not(:focus) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.c-box {
  --_box-padding: var(--gutter, 1rem);
  --_box-border-color: var(--theme-border-base);
  --_box-border-style: solid;
  --_box-border-width: 4px;
  display: block;
  padding: var(--box-padding, var(--_box-padding));
  border: var(--box-border-color, var(--_box-border-color)) var(--box-border-style, var(--_box-border-style)) var(--box-border-width, var(--_box-border-width));
}

.c-cluster {
  --_cluster-gap: var(--gutter, 1rem);
  display: flex;
  flex-wrap: var(--cluster-flex-wrap, wrap);
  flex-direction: var(--cluster-flex-direction, row);
  justify-content: var(--cluster-justify-content, flex-start);
  align-items: var(--cluster-align-items, center);
  gap: var(--cluster-gap, var(--_cluster-gap));
}

.c-grid-ram {
  --_grid-ram-placement: auto-fill;
  --_grid-ram-min-item-size: 16rem;
  --_grid-ram-gap: var(--gutter, 1rem);
  display: grid;
  grid-template-columns: repeat(var(--grid-ram-placement, var(--_grid-ram-placement)), minmax(min(var(--grid-ram-min-item-size, var(--_grid-ram-min-item-size)), 100%), 1fr));
  grid-gap: var(--grid-ram-gap, var(--_grid-ram-gap));
}

.c-sidebar {
  --_sidebar-gap: var(--gutter, 1rem);
  --_sidebar-target-width: 20rem;
  --_sidebar-content-min-width: 60%;
  display: flex;
  flex-wrap: wrap;
  gap: var(--sidebar-gap, var(--_sidebar-gap));
}
.c-sidebar > :first-child {
  flex-basis: var(--sidebar-target-width, var(--_sidebar-target-width));
  flex-grow: 1;
}
.c-sidebar > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: var(--sidebar-content-min-width, var(--_sidebar-content-min-width));
}

.c-stack {
  --_stack-space: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: var(--stack-justify-content, flex-start);
  align-items: var(--stack-align-items, flex-start);
}
.c-stack > * {
  margin-block: 0;
}
.c-stack > * + * {
  margin-block-start: var(--stack-space, var(--_stack-space));
}
.c-stack[data-stack=space-between] {
  --stack-justify-content: space-between;
}

.u-center {
  text-align: center;
  margin-inline: auto;
}

.u-flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}
.u-flow > *[data-flow="2em"] {
  --flow-space: 2em;
}

.u-horizontal-scroll {
  overflow-x: auto;
  white-space: nowrap;
}

.u-need-js {
  display: none;
}

.u-region {
  --_region-block-start: var(--gutter, 1rem);
  --_region-block-end: var(--gutter, 1rem);
  padding-block-start: var(--region-block-start, var(--_region-block-start));
  padding-block-end: var(--region-block-end, var(--_region-block-end));
}

.u-resize {
  resize: horizontal;
  overflow: hidden;
  max-inline-size: calc(100% - (2 * var(--gutter) + 8px));
}

.u-sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  block-size: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  inline-size: 1px;
}

.u-theme-break {
  display: block;
  margin-block-start: var(--theme-break-mbs, 0);
  padding-block-start: var(--theme-break-pbs, 0);
  border-block-start: solid 4px;
  border-color: var(--theme-border-highlight);
}

.u-wrapper {
  --_wrapper-max-inline-size: calc(var(--measure) + 2 * var(--gutter));
  --_wrapper-padding-inline: var(--gutter, 1rem);
  margin-inline: auto;
  max-inline-size: var(--wrapper-max-inline-size, var(--_wrapper-max-inline-size));
  padding-inline: var(--wrapper-padding-inline, var(--_wrapper-padding-inline));
  position: relative;
}
.u-wrapper[data-wrapper=large] {
  --wrapper-max-inline-size: min(calc(1440px - 20rem), 100%);
}

.b-quick-start .c-grid-ram {
  --grid-ram-min-item-size: 18rem;
}
.b-quick-start a {
  block-size: 100%;
}
.b-quick-start a p {
  display: inline-block;
  text-align: start;
  font-weight: 400;
  color: var(--theme-color-base);
  text-wrap: balance;
}
.b-quick-start .c-box:hover, .b-quick-start .c-box:focus {
  --box-border-color: var(--theme-border-highlight);
}

.b-scss-structure {
  padding-inline: calc(var(--_box-padding) + var(--_box-border-width));
}
.b-scss-structure tr {
  display: flex;
}
.b-scss-structure tr > :first-child {
  flex: 0 0 16rem;
}
.b-scss-structure tr > :last-child {
  flex: 1;
}
.b-scss-structure .b-level-2::before {
  color: var(--theme-border-bold);
  content: "└─";
  margin-inline-start: -0.15ch;
  margin-inline-end: 1ch;
}
.b-scss-structure .b-level-3::before {
  content: "│";
  margin-inline-end: 2.3ch;
  color: var(--theme-border-bold);
}
.b-scss-structure .b-level-3[data-level=last]::before {
  content: "";
  margin-inline-end: 3.45ch;
}

.b-design-system-process {
  --stack-space: var(--size-3);
}
.b-design-system-process ol {
  --flow-space: 0;
  counter-reset: step;
}
.b-design-system-process ol li {
  --flow-space: 1em;
  list-style: none;
  margin-block-start: var(--size-3);
}
.b-design-system-process ol li .c-cluster {
  --cluster-flex-wrap: nowrap;
  --cluster-align-items: baseline;
  --cluster-gap: none;
}
.b-design-system-process ol li .c-cluster::before {
  color: var(--theme-color-highlight);
  counter-increment: step;
  content: counter(step);
  padding-inline-end: 1em;
  font-weight: 700;
}

.b-theme-usage th:first-child,
.b-theme-usage td:first-child {
  inline-size: 10%;
}
.b-theme-usage th:not(:first-child),
.b-theme-usage td:not(:first-child) {
  inline-size: 30%;
}
.b-theme-usage .b-theme-backgrounds .c-box {
  display: inline-block;
  margin-block: 0.2ch;
  vertical-align: top;
}

.b-spacing-demo {
  overflow: hidden;
  --stack-space: 1rem;
  --flow-space: 0.5em;
}
.b-spacing-demo .b-demo-block {
  display: inline-block;
}

.b-spacing-usage {
  padding-inline-start: 2ch;
}
.b-spacing-usage li {
  padding-inline-start: calc(1em - 0.5ch);
}

.b-site-header {
  --box-border-style: none;
  --stack-space: 1em;
  outline: 4px solid var(--theme-border-highlight);
  display: flex;
  position: relative;
  padding-block: 0;
}
.b-site-header .b-sticky {
  position: sticky;
  top: 0;
  max-block-size: calc(100vh - 2 * var(--gutter));
  padding-block: var(--gutter);
}
.b-site-header .b-logo-container :first-child {
  --stack-space: 0;
}

.b-back-to-top {
  padding: calc(var(--space-3xs) + var(--size-base));
}
.b-back-to-top:before {
  --border: 4px solid var(--theme-color-bold);
  content: "";
  position: absolute;
  inset: 30%;
  transform: translateY(20%) rotate(-45deg);
  border-block-start: var(--border);
  border-inline-end: var(--border);
}
.b-back-to-top:is(:hover, :focus):before {
  border-color: var(--theme-bg-highlight);
  border-color: var(--color-bg);
}

.u-bg-base {
  background-color: var(--theme-bg-base);
}

.u-bg-highlight {
  background-color: var(--theme-bg-highlight);
}

.u-color-bold {
  color: var(--theme-color-bold);
}

.u-border-highlight {
  border-color: var(--theme-border-highlight);
}

.u-font-family-base {
  font-family: var(--font-family-base);
}

.u-font-weight-bold {
  font-weight: 700;
}

.u-size--1 {
  font-size: var(--size--1);
}

.u-size-2 {
  font-size: var(--size-2);
  line-height: 1;
}

.u-size-3 {
  font-size: var(--size-3);
  line-height: 1;
}

.u-mbe-s {
  margin-block-end: var(--space-s);
}

.u-mbs-l {
  margin-block-start: var(--space-l);
}

.u-mbe-s-m {
  margin-block-end: var(--space-s-m);
}

.u-mbs-size-2 {
  margin-block-start: var(--size-2);
}

.u-mbs-size-3 {
  margin-block-start: var(--size-3);
}

.u-mbs-size-4 {
  margin-block-start: var(--size-4);
}
